#userBox {
  padding: 2% 10% 5% 10%;
  background-color: #f9f9f9;
}

#userHeader {
  display: flex;
  justify-content: space-between;
}

#userLoans {
  margin-top: 5%;
  padding: 2%;
  border: 2px solid;
  border-color: black;
}
