#librarianBox {
    margin: 0 10% 0 10%;
}

#librarianHeader{
    display: flex;
    justify-content: space-between;
}

.librarianSection {
    margin-top: 5%;
    padding: 2%;
    border: 2px solid;
    border-color: black;
}