#removeBooksAuthorsBox {
    margin: 0 10% 0 10%;
}

#removeBooksAuthorsHeader{
    display: flex;
    justify-content: space-between;
}

.removeBooksAuthorsForm {
    margin-top: 2%;
}

#removeBooksAuthorsBody {
    display: flex;
    justify-content: space-between;
    margin: 10% 20% 0% 20%;
}
