#signUpBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#signUpStack{
    width: 40%;
}

#signUpForm{
    margin-top: 20%;
}

#signUpButtonBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}